body {
    font-family: Arial, sans-serif;
}

.sidebar {
    min-height: 100vh;
    background: linear-gradient(135deg, #e70b0b, #e60a0a); 
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.sidebar a:hover {
    background-color:linear-gradient(135deg, #db1818, #df2222);;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .content {
        margin-left: 0;
    }
}
